@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 100vw;
  min-height: 100vh;
}

form {
  text-align: center;
  width: 400px;
  min-height: 88vh;
  box-shadow: 1px  1px 20px #bbbbbb ;
  border-radius: 4px;
  padding: 1.6rem 2.5rem;
  justify-content: space-between;
  gap: 1.5rem;
}

form div {
  color: #777777;
  gap: .4rem;
}

form h2{
  font-weight: 600;
}
form, form div {
  display: flex;
  flex-direction: column;
}

form label {
  text-align: start;
}

form input {
  width: 100%;
  padding: .73rem;
  border: 2px solid #f0f0f0;
  border-radius: 3px;
}

form input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  font-size: 16px ;
  border: none;
  cursor: pointer;
}